[user]
    email    = elgendy1204@gmail.com
    name     = Khaled Saad

[push]
    default  = simple

[core]
    editor   = nvim
    autocrlf = input
    pager = diff-so-fancy | less --tabs=4 -RFX --pattern '^(Date|added|deleted|modified): '

[color]
    ui = true
